PHP_VERSION=8.5

NGINX_VERSION=latest

REDIS_VERSION=latest
REDIS_INSIGHT_VERSION=latest

POSTGRES_VERSION=18
POSTGRES_ROOT_PASSWORD=root
POSTGRES_DATA_PATH="/var/lib/postgresql"

MARIADB_VERSION=12
MARIADB_ROOT_PASSWORD=root
MARIADB_DATA_PATH="/var/lib/mysql"

MYSQL_VERSION=9
MYSQL_ROOT_PASSWORD=root
MYSQL_DATA_PATH="/var/lib/mysql"

MONGODB_VERSION=latest
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=root

MONGOE_VERSION=latest
MONGOE_ROOT_USERNAME=root
MONGOE_ROOT_PASSWORD=root

# Comma-separated list of optional services to start (e.g. redis,postgres,mailpit)

COMPOSE_PROFILES=redis
